.back 
{
  background-color: #F7F9FA;
  padding-top: 80px;
  padding-bottom: 80px;
}

.back-text {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #1F1F1F;
  width: 582px;
  margin-bottom: 60px;
}

.back-anti_text {
  display: flex;
  align-items: center;
}

.back-anti_text1 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #1F1F1F;
  margin-left: 20px;
  margin-right: 150px;
}

.back-anti_text2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1F1F1F;
  margin-left: 52px;
  width: 363px;
}

.back-anti_text3 {
  display: flex;
  align-items: center;
}

.back-anti_text4 {
  margin-top: 16px;
  margin-bottom: 19px;
  margin-left: 21px;
  margin-right: 226px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #626A72;
}

.back-anti_text5 {
  display: flex;
  align-items: center;
}

.back-anti_text6 {
  margin-bottom: 19px;
  margin-top: 16px;
  margin-left: 21px;
  margin-right: 229px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #626A72;
}

.back-anti_text7 {
  display: flex;
  align-items: center;
}

.back-anti_text8 {
  margin-bottom: 19px;
  margin-top: 16px;
  margin-left: 21px;
  margin-right: 221px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #626A72;
}

.back-text1 {
  display: flex;
}

.back-text_right-pic {
  margin-top: -50px;
  margin-left: 150px;
}