.design-footer_text  {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1F1F1F;
  margin-top: 131px;
  margin-bottom: 33px;
}

.footer_icons {
  display: flex;
  justify-content: center;
  column-gap: 61px;
}