.header {
  background-color: #0070A0;
}

.header-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 11px;
}
