.whats_whirl {
  padding-top: 119px;
  padding-bottom: 134px;
}

.whats_whirl > div {
  display: flex;
}

.whats_whirl_left {
  width: 263px;
}

.whats_whirl_left_text1 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #1F1F1F;
}

.whats_whirl_left_text2 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 50px;
  letter-spacing: 0.5px;
  color: #1F1F1F;
}

.whats_whirl_right {
  display: flex;
}

.whats_whirl_right_card1 {
  margin-top: 64px;
  width: 215px;
  margin-right: 40px;
  margin-left: 135px;
}

.whats_whirl_right_card {
  width: 215px;
  column-gap: 33px;
}

.whats_whirl_right_card_text1 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.2px;
  color: #1F1F1F;
}

.whats_whirl_right_card_text2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1F1F1F;
}